@import '../../assets/scss/variables';

section {
    padding: 5rem 0;

    .content {
        /* display: flex;
        align-items: center;
        justify-content: center; */
        padding: 0rem 0rem;

        >figure {
            float: right;
            width: 35%;
            margin-left: 3rem;
        }

        >h1 {
            color: $white;
            text-transform: uppercase;
            margin-bottom: 1rem;
            font-size: 2.4rem;
            font-weight: 700;
    
            @media only screen and (min-width: 768px) {
                font-size: 2.2rem;
            }
        }
    
        .content-body {

            p {
                color: darken($white, 20%);
                font-size: 1.2rem;
            }
        }
    }

    &.light {
        background: $white;

        h1 {
            color: lighten($black, 25%);
        }

        .content-body {
            
            p {
                color: lighten($black, 25%);
            }
        }
    }
}