@import '../../assets/scss/variables';

footer {
    color: $white;

    .footer {
        padding: 5rem 0;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
    
            li {
    
                a {
                    color: $green;
                    text-decoration: none;
            
                    &:hover {
                        color: $white;
                    }
                }
    
                &::before {
                    content: '»';
                    margin-right: .6rem;
                }
            }
        }
    }

    .sub-footer {
        padding: 1rem 0;
        text-align: center;
        background: darken($blue, 10%);
    }
}