
.marAuto, .mx-auto, .mauto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.mar0, .m0 {
    margin: 0;
}

.mar5, .m5 {
    margin: 5px;
}

.mar10, .m10 {
    margin: 10px;
}

.mar15, .m15 {
    margin: 15px;
}

.mar20, .m20 {
    margin: 20px;
}

.mar25, .m25 {
    margin: 25px;
}

.mar30, .m30 {
    margin: 30px;
}

.mar35, .m35 {
    margin: 35px;
}

.mar40, .m40 {
    margin: 40px;
}

.mar45, .m45 {
    margin: 45px;
}

.mar50, .m50 {
    margin: 50px;
}

.mar55, .m55 {
    margin: 55px;
}

.mar60, .m60 {
    margin: 50px;
}

.mar65, .m65 {
    margin: 65px;
}

.mar70, .m70 {
    margin: 70px;
}

.mar75, .m75 {
    margin: 75px;
}

.mar80, .m80 {
    margin: 80px;
}

.mar85, .m85 {
    margin: 85px;
}

.mar90, .m90 {
    margin: 90px;
}

.mar95, .m95 {
    margin: 95px;
}

.mar100, .m100 {
    margin: 100px;
}

/* Margen TOP */

.marT0, .mt0 {
    margin-top: 0;
}

.marT5, .mt5 {
    margin-top: 5px;
}

.marT10, .mt10 {
    margin-top: 10px;
}

.marT15, .mt15 {
    margin-top: 15px;
}

.marT20, .mt20 {
    margin-top: 20px;
}

.marT25, .mt25 {
    margin-top: 25px;
}

.marT30, .mt30 {
    margin-top: 30px;
}

.marT35, .mt35 {
    margin-top: 35px;
}

.marT40, .mt40 {
    margin-top: 40px;
}

.marT45, .mt45 {
    margin-top: 45px;
}

.marT50, .mt50 {
    margin-top: 50px;
}

.marT55, .mt55 {
    margin-top: 55px;
}

.marT60, .mt60 {
    margin-top: 50px;
}

.marT65, .mt65 {
    margin-top: 65px;
}

.marT70, .mt70 {
    margin-top: 70px;
}

.marT75, .mt75 {
    margin-top: 75px;
}

.marT80, .mt80 {
    margin-top: 80px;
}

.marT85, .mt85 {
    margin-top: 85px;
}

.marT90, .mt90 {
    margin-top: 90px;
}

.marT95, .mt95 {
    margin-top: 95px;
}

.marT100, .mt100 {
    margin-top: 100px;
}

/* Margen BOTTOM */

.marB0, .mb0 {
    margin-bottom: 0;
}

.marB5, .mb5 {
    margin-bottom: 5px;
}

.marB10, .mb10 {
    margin-bottom: 10px;
}

.marB15, .mb15 {
    margin-bottom: 15px;
}

.marB20, .mb20 {
    margin-bottom: 20px;
}

.marB25, .mb25 {
    margin-bottom: 25px;
}

.marB30, .mb30 {
    margin-bottom: 30px;
}

.marB35, .mb35 {
    margin-bottom: 35px;
}

.marB40, .mb40 {
    margin-bottom: 40px;
}

.marB45, .mb45 {
    margin-bottom: 45px;
}

.marB50, .mb50 {
    margin-bottom: 50px;
}

.marB55, .mb55 {
    margin-bottom: 55px;
}

.marB60, .mb60 {
    margin-bottom: 50px;
}

.marB65, .mb65 {
    margin-bottom: 65px;
}

.marB70, .mb70 {
    margin-bottom: 70px;
}

.marB75, .mb75 {
    margin-bottom: 75px;
}

.marB80, .mb80 {
    margin-bottom: 80px;
}

.marB85, .mb85 {
    margin-bottom: 85px;
}

.marB90, .mb90 {
    margin-bottom: 90px;
}

.marB95, .mb95 {
    margin-bottom: 95px;
}

.marB100, .mb100 {
    margin-bottom: 100px;
}

/* Margen LEFT */

.marL0, .ml0 {
    margin-left: 0px;
}

.marL5, .ml5 {
    margin-left: 5px;
}

.marL10, .ml10 {
    margin-left: 10px;
}

.marL15, .ml15 {
    margin-left: 15px;
}

.marL20, .ml20 {
    margin-left: 20px;
}

.marL25, .ml25 {
    margin-left: 25px;
}

.marL30, .ml30 {
    margin-left: 30px;
}

.marL35, .ml35 {
    margin-left: 35px;
}

.marL40, .ml40 {
    margin-left: 40px;
}

.marL45, .ml45 {
    margin-left: 45px;
}

.marL50, .ml50 {
    margin-left: 50px;
}

.marL55, .ml55 {
    margin-left: 55px;
}

.marL60, .ml60 {
    margin-left: 50px;
}

.marL65, .ml65 {
    margin-left: 65px;
}

.marL70, .ml70 {
    margin-left: 70px;
}

.marL75, .ml75 {
    margin-left: 75px;
}

.marL80, .ml80 {
    margin-left: 80px;
}

.marL85, .ml85 {
    margin-left: 85px;
}

.marL90, .ml90 {
    margin-left: 90px;
}

.marL95, .ml95 {
    margin-left: 95px;
}

.marL100, .ml100 {
    margin-left: 100px;
}

/* Margen RIGHT */

.marR0, .mr0 {
    margin-right: 0px;
}

.marR5, .mr5 {
    margin-right: 5px;
}

.marR10, .mr10 {
    margin-right: 10px;
}

.marR15, .mr15 {
    margin-right: 15px;
}

.marR20, .mr20 {
    margin-right: 20px;
}

.marR25, .mr25 {
    margin-right: 25px;
}

.marR30, .mr30 {
    margin-right: 30px;
}

.marR35, .mr35 {
    margin-right: 35px;
}

.marR40, .mr40 {
    margin-right: 40px;
}

.marR45, .mr45 {
    margin-right: 45px;
}

.marR50, .mr50 {
    margin-right: 50px;
}

.marR55, .mr55 {
    margin-right: 55px;
}

.marR60, .mr60 {
    margin-right: 50px;
}

.marR65, .mr65 {
    margin-right: 65px;
}

.marR70, .mr70 {
    margin-right: 70px;
}

.marR75, .mr75 {
    margin-right: 75px;
}

.marR80, .mr80 {
    margin-right: 80px;
}

.marR85, .mr85 {
    margin-right: 85px;
}

.marR90, .mr90 {
    margin-right: 90px;
}

.marR95, .mr95 {
    margin-right: 95px;
}

.marR100, .mr100 {
    margin-right: 100px;
}

/* Margen TOP-BOTTOM */

.marTB0, .my0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.marTB5, .my5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.marTB10, .my10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.marTB15, .my15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.marTB20, .my20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.marTB25, .my25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.marTB30, .my30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.marTB35, .my35 {
    margin-top: 35px;
    margin-bottom: 35px;
}

.marTB40, .my40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.marTB45, .my45 {
    margin-top: 45px;
    margin-bottom: 45px;
}

.marTB50, .my50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.marTB55, .my55 {
    margin-top: 55px;
    margin-bottom: 55px;
}

.marTB60, .my60 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.marTB65, .my65 {
    margin-top: 65px;
    margin-bottom: 65px;
}

.marTB70, .my70 {
    margin-top: 70px;
    margin-bottom: 70px;
}

.marTB75, .my75 {
    margin-top: 75px;
    margin-bottom: 75px;
}

.marTB80, .my80 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.marTB85, .my85 {
    margin-top: 85px;
    margin-bottom: 85px;
}

.marTB90, .my90 {
    margin-top: 90px;
    margin-bottom: 90px;
}

.marTB95, .my95 {
    margin-top: 95px;
    margin-bottom: 95px;
}

.marTB100, .my100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Margen LEFT-RIGHT */

.marLR0, .mx0 {
    margin-left: 0px;
    margin-right: 0px;
}

.marLR5, .mx5 {
    margin-left: 5px;
    margin-right: 5px;
}

.marLR10, .mx10 {
    margin-left: 10px;
    margin-right: 10px;
}

.marLR15, .mx15 {
    margin-left: 15px;
    margin-right: 15px;
}

.marLR20, .mx20 {
    margin-left: 20px;
    margin-right: 20px;
}

.marLR25, .mx25 {
    margin-left: 25px;
    margin-right: 25px;
}

.marLR30, .mx30 {
    margin-left: 30px;
    margin-right: 30px;
}

.marLR35, .mx35 {
    margin-left: 35px;
    margin-right: 35px;
}

.marLR40, .mx40 {
    margin-left: 40px;
    margin-right: 40px;
}

.marLR45, .mx45 {
    margin-left: 45px;
    margin-right: 45px;
}

.marLR50, .mx50 {
    margin-left: 50px;
    margin-right: 50px;
}

.marLR55, .mx55 {
    margin-left: 55px;
    margin-right: 55px;
}

.marLR60, .mx60 {
    margin-left: 50px;
    margin-right: 50px;
}

.marLR65, .mx65 {
    margin-left: 65px;
    margin-right: 65px;
}

.marLR70, .mx70 {
    margin-left: 70px;
    margin-right: 70px;
}

.marLR75, .mx75 {
    margin-left: 75px;
    margin-right: 75px;
}

.marLR80, .mx80 {
    margin-left: 80px;
    margin-right: 80px;
}

.marLR85, .mx85 {
    margin-left: 85px;
    margin-right: 85px;
}

.marLR90, .mx90 {
    margin-left: 90px;
    margin-right: 90px;
}

.marLR95, .mx95 {
    margin-left: 95px;
    margin-right: 95px;
}

.marLR100, .mx100 {
    margin-left: 100px;
    margin-right: 100px;
}


// IMPORTANT

.mar0i, .m0i {
    margin: 0 !important;
}

.mar5i, .m5i {
    margin: 5px !important;
}

.mar10i, .m10i {
    margin: 10px !important;
}

.mar15i, .m15i {
    margin: 15px !important;
}

.mar20i, .m20i {
    margin: 20px !important;
}

.mar25i, .m25i {
    margin: 25px !important;
}

.mar30i, .m30i {
    margin: 30px !important;
}

.mar35i, .m35i {
    margin: 35px !important;
}

.mar40i, .m40i {
    margin: 40px !important;
}

.mar45i, .m45i {
    margin: 45px !important;
}

.mar50i, .m50i {
    margin: 50px !important;
}

.mar55i, .m55i {
    margin: 55px !important;
}

.mar60i, .m60i {
    margin: 50px !important;
}

.mar65i, .m65i {
    margin: 65px !important;
}

.mar70i, .m70i {
    margin: 70px !important;
}

.mar75i, .m75i {
    margin: 75px !important;
}

.mar80i, .m80i {
    margin: 80px !important;
}

.mar85i, .m85i {
    margin: 85px !important;
}

.mar90i, .m90i {
    margin: 90px !important;
}

.mar95i, .m95i {
    margin: 95px !important;
}

.mar100i, .m100i {
    margin: 100px !important;
}

/* Margen TOP */

.marT0i, .mt0i {
    margin-top: 0 !important;
}

.marT5i, .mt5i {
    margin-top: 5px !important;
}

.marT10i, .mt10i {
    margin-top: 10px !important;
}

.marT15i, .mt15i {
    margin-top: 15px !important;
}

.marT20i, .mt20i {
    margin-top: 20px !important;
}

.marT25i, .mt25i {
    margin-top: 25px !important;
}

.marT30i, .mt30i {
    margin-top: 30px !important;
}

.marT35i, .mt35i {
    margin-top: 35px !important;
}

.marT40i, .mt40i {
    margin-top: 40px !important;
}

.marT45i, .mt45i {
    margin-top: 45px !important;
}

.marT50i, .mt50i {
    margin-top: 50px !important;
}

.marT55i, .mt55i {
    margin-top: 55px !important;
}

.marT60i, .mt60i {
    margin-top: 50px !important;
}

.marT65i, .mt65i {
    margin-top: 65px !important;
}

.marT70i, .mt70i {
    margin-top: 70px !important;
}

.marT75i, .mt75i {
    margin-top: 75px !important;
}

.marT80i, .mt80i {
    margin-top: 80px !important;
}

.marT85i, .mt85i {
    margin-top: 85px !important;
}

.marT90i, .mt90i {
    margin-top: 90px !important;
}

.marT95i, .mt95i {
    margin-top: 95px !important;
}

.marT100i, .mt100i {
    margin-top: 100px !important;
}

/* Margen BOTTOM */

.marB0i, .mb0i {
    margin-bottom: 0 !important;
}

.marB5i, .mb5i {
    margin-bottom: 5px !important;
}

.marB10i, .mb10i {
    margin-bottom: 10px !important;
}

.marB15i, .mb15i {
    margin-bottom: 15px !important;
}

.marB20i, .mb20i {
    margin-bottom: 20px !important;
}

.marB25i, .mb25i {
    margin-bottom: 25px !important;
}

.marB30i, .mb30i {
    margin-bottom: 30px !important;
}

.marB35i, .mb35i {
    margin-bottom: 35px !important;
}

.marB40i, .mb40i {
    margin-bottom: 40px !important;
}

.marB45i, .mb45i {
    margin-bottom: 45px !important;
}

.marB50i, .mb50i {
    margin-bottom: 50px !important;
}

.marB55i, .mb55i {
    margin-bottom: 55px !important;
}

.marB60i, .mb60i {
    margin-bottom: 50px !important;
}

.marB65i, .mb65i {
    margin-bottom: 65px !important;
}

.marB70i, .mb70i {
    margin-bottom: 70px !important;
}

.marB75i, .mb75i {
    margin-bottom: 75px !important;
}

.marB80i, .mb80i {
    margin-bottom: 80px !important;
}

.marB85i, .mb85i {
    margin-bottom: 85px !important;
}

.marB90i, .mb90i {
    margin-bottom: 90px !important;
}

.marB95i, .mb95i {
    margin-bottom: 95px !important;
}

.marB100i, .mb100i {
    margin-bottom: 100px !important;
}

/* Margen LEFT */

.marL0i, .ml0i {
    margin-left: 0px !important;
}

.marL5i, .ml5i {
    margin-left: 5px !important;
}

.marL10i, .ml10i {
    margin-left: 10px !important;
}

.marL15i, .ml15i {
    margin-left: 15px !important;
}

.marL20i, .ml20i {
    margin-left: 20px !important;
}

.marL25i, .ml25i {
    margin-left: 25px !important;
}

.marL30i, .ml30i {
    margin-left: 30px !important;
}

.marL35i, .ml35i {
    margin-left: 35px !important;
}

.marL40i, .ml40i {
    margin-left: 40px !important;
}

.marL45i, .ml45i {
    margin-left: 45px !important;
}

.marL50i, .ml50i {
    margin-left: 50px !important;
}

.marL55i, .ml55i {
    margin-left: 55px !important;
}

.marL60i, .ml60i {
    margin-left: 50px !important;
}

.marL65i, .ml65i {
    margin-left: 65px !important;
}

.marL70i, .ml70i {
    margin-left: 70px !important;
}

.marL75i, .ml75i {
    margin-left: 75px !important;
}

.marL80i, .ml80i {
    margin-left: 80px !important;
}

.marL85i, .ml85i {
    margin-left: 85px !important;
}

.marL90i, .ml90i {
    margin-left: 90px !important;
}

.marL95i, .ml95i {
    margin-left: 95px !important;
}

.marL100i, .ml100i {
    margin-left: 100px !important;
}

/* Margen RIGHT */

.marR0i, .mr0i {
    margin-right: 0px !important;
}

.marR5i, .mr5i {
    margin-right: 5px !important;
}

.marR10i, .mr10i {
    margin-right: 10px !important;
}

.marR15i, .mr15i {
    margin-right: 15px !important;
}

.marR20i, .mr20i {
    margin-right: 20px !important;
}

.marR25i, .mr25i {
    margin-right: 25px !important;
}

.marR30i, .mr30i {
    margin-right: 30px !important;
}

.marR35i, .mr35i {
    margin-right: 35px !important;
}

.marR40i, .mr40i {
    margin-right: 40px !important;
}

.marR45i, .mr45i {
    margin-right: 45px !important;
}

.marR50i, .mr50i {
    margin-right: 50px !important;
}

.marR55i, .mr55i {
    margin-right: 55px !important;
}

.marR60i, .mr60i {
    margin-right: 50px !important;
}

.marR65i, .mr65i {
    margin-right: 65px !important;
}

.marR70i, .mr70i {
    margin-right: 70px !important;
}

.marR75i, .mr75i {
    margin-right: 75px !important;
}

.marR80i, .mr80i {
    margin-right: 80px !important;
}

.marR85i, .mr85i {
    margin-right: 85px !important;
}

.marR90i, .mr90i {
    margin-right: 90px !important;
}

.marR95i, .mr95i {
    margin-right: 95px !important;
}

.marR100i, .mr100i {
    margin-right: 100px !important;
}

/* Margen TOP-BOTTOM */

.marTB0i, .my0i {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.marTB5i, .my5i {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.marTB10i, .my10i {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.marTB15i, .my15i {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.marTB20i, .my20i {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.marTB25i, .my25i {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

.marTB30i, .my30i {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.marTB35i, .my35i {
    margin-top: 35px !important;
    margin-bottom: 35px !important;
}

.marTB40i, .my40i {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.marTB45i, .my45i {
    margin-top: 45px !important;
    margin-bottom: 45px !important;
}

.marTB50i, .my50i {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.marTB55i, .my55i {
    margin-top: 55px !important;
    margin-bottom: 55px !important;
}

.marTB60i, .my60i {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.marTB65i, .my65i {
    margin-top: 65px !important;
    margin-bottom: 65px !important;
}

.marTB70i, .my70i {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
}

.marTB75i, .my75i {
    margin-top: 75px !important;
    margin-bottom: 75px !important;
}

.marTB80i, .my80i {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
}

.marTB85i, .my85i {
    margin-top: 85px !important;
    margin-bottom: 85px !important;
}

.marTB90i, .my90i {
    margin-top: 90px !important;
    margin-bottom: 90px !important;
}

.marTB95i, .my95i {
    margin-top: 95px !important;
    margin-bottom: 95px !important;
}

.marTB100i, .my100i {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

/* Margen LEFT-RIGHT */

.marLR0i, .mx0i {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.marLR5i, .mx5i {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.marLR10i, .mx10i {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.marLR15i, .mx15i {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.marLR20i, .mx20i {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.marLR25i, .mx25i {
    margin-left: 25px !important;
    margin-right: 25px !important;
}

.marLR30i, .mx30i {
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.marLR35i, .mx35i {
    margin-left: 35px !important;
    margin-right: 35px !important;
}

.marLR40i, .mx40i {
    margin-left: 40px !important;
    margin-right: 40px !important;
}

.marLR45i, .mx45i {
    margin-left: 45px !important;
    margin-right: 45px !important;
}

.marLR50i, .mx50i {
    margin-left: 50px !important;
    margin-right: 50px !important;
}

.marLR55i, .mx55i {
    margin-left: 55px !important;
    margin-right: 55px !important;
}

.marLR60i, .mx60i {
    margin-left: 50px !important;
    margin-right: 50px !important;
}

.marLR65i, .mx65i {
    margin-left: 65px !important;
    margin-right: 65px !important;
}

.marLR70i, .mx70i {
    margin-left: 70px !important;
    margin-right: 70px !important;
}

.marLR75i, .mx75i {
    margin-left: 75px !important;
    margin-right: 75px !important;
}

.marLR80i, .mx80i {
    margin-left: 80px !important;
    margin-right: 80px !important;
}

.marLR85i, .mx85i {
    margin-left: 85px !important;
    margin-right: 85px !important;
}

.marLR90i, .mx90i {
    margin-left: 90px !important;
    margin-right: 90px !important;
}

.marLR95i, .mx95i {
    margin-left: 95px !important;
    margin-right: 95px !important;
}

.marLR100i, .mx100i {
    margin-left: 100px !important;
    margin-right: 100px !important;
}