
.pad0, .p0 {
    padding: 0;
}

.pad5, .p5 {
    padding: 5px;
}

.pad10, .p10 {
    padding: 10px;
}

.pad15, .p15 {
    padding: 15px;
}

.pad20, .p20 {
    padding: 20px;
}

.pad25, .p25 {
    padding: 25px;
}

.pad30, .p30 {
    padding: 30px;
}

.pad35, .p35 {
    padding: 35px;
}

.pad40, .p40 {
    padding: 40px;
}

.pad45, .p45 {
    padding: 45px;
}

.pad50, .p50 {
    padding: 50px;
}

.pad55, .p55 {
    padding: 55px;
}

.pad60, .p60 {
    padding: 50px;
}

.pad65, .p65 {
    padding: 65px;
}

.pad70, .p70 {
    padding: 70px;
}

.pad75, .p75 {
    padding: 75px;
}

.pad80, .p80 {
    padding: 80px;
}

.pad85, .p85 {
    padding: 85px;
}

.pad90, .p90 {
    padding: 90px;
}

.pad95, .p95 {
    padding: 95px;
}

.pad100, .p100 {
    padding: 100px;
}

/* Padding TOP */

.padT0, .pt0 {
    padding-top: 0;
}

.padT5, .pt5 {
    padding-top: 5px;
}

.padT10, .pt10 {
    padding-top: 10px;
}

.padT15, .pt15 {
    padding-top: 15px;
}

.padT20, .pt20 {
    padding-top: 20px;
}

.padT25, .pt25 {
    padding-top: 25px;
}

.padT30, .pt30 {
    padding-top: 30px;
}

.padT35, .pt35 {
    padding-top: 35px;
}

.padT40, .pt40 {
    padding-top: 40px;
}

.padT45, .pt45 {
    padding-top: 45px;
}

.padT50, .pt50 {
    padding-top: 50px;
}

.padT55, .pt55 {
    padding-top: 55px;
}

.padT60, .pt60 {
    padding-top: 60px;
}

.padT65, .pt65 {
    padding-top: 65px;
}

.padT70, .pt70 {
    padding-top: 70px;
}

.padT75, .pt75 {
    padding-top: 75px;
}

.padT80, .pt80 {
    padding-top: 80px;
}

.padT85, .pt85 {
    padding-top: 85px;
}

.padT90, .pt90 {
    padding-top: 90px;
}

.padT95, .pt95 {
    padding-top: 95px;
}

.padT100, .pt100 {
    padding-top: 100px;
}

/* Padding BOTTOM */

.padB0, .pb0 {
    padding-bottom: 0;
}

.padB5, .pb5 {
    padding-bottom: 5px;
}

.padB10, .pb10 {
    padding-bottom: 10px;
}

.padB15, .pb15 {
    padding-bottom: 15px;
}

.padB20, .pb20 {
    padding-bottom: 20px;
}

.padB25, .pb25 {
    padding-bottom: 25px;
}

.padB30, .pb30 {
    padding-bottom: 30px;
}

.padB35, .pb35 {
    padding-bottom: 35px;
}

.padB40, .pb40 {
    padding-bottom: 40px;
}

.padB45, .pb45 {
    padding-bottom: 45px;
}

.padB50, .pb50 {
    padding-bottom: 50px;
}

.padB55, .pb55 {
    padding-bottom: 55px;
}

.padB60, .pb60 {
    padding-bottom: 50px;
}

.padB65, .pb65 {
    padding-bottom: 65px;
}

.padB70, .pb70 {
    padding-bottom: 70px;
}

.padB75, .pb75 {
    padding-bottom: 75px;
}

.padB80, .pb80 {
    padding-bottom: 80px;
}

.padB85, .pb85 {
    padding-bottom: 85px;
}

.padB90, .pb90 {
    padding-bottom: 90px;
}

.padB95, .pb95 {
    padding-bottom: 95px;
}

.padB100, .pb100 {
    padding-bottom: 100px;
}

/* Padding LEFT */

.padL0, .pl0 {
    padding-left: 0px;
}

.padL5, .pl5 {
    padding-left: 5px;
}

.padL10, .pl10 {
    padding-left: 10px;
}

.padL15, .pl15 {
    padding-left: 15px;
}

.padL20, .pl20 {
    padding-left: 20px;
}

.padL25, .pl25 {
    padding-left: 25px;
}

.padL30, .pl30 {
    padding-left: 30px;
}

.padL35, .pl35 {
    padding-left: 35px;
}

.padL40, .pl40 {
    padding-left: 40px;
}

.padL45, .pl45 {
    padding-left: 45px;
}

.padL50, .pl50 {
    padding-left: 50px;
}

.padL55, .pl55 {
    padding-left: 55px;
}

.padL60, .pl60 {
    padding-left: 50px;
}

.padL65, .pl65 {
    padding-left: 65px;
}

.padL70, .pl70 {
    padding-left: 70px;
}

.padL75, .pl75 {
    padding-left: 75px;
}

.padL80, .pl80 {
    padding-left: 80px;
}

.padL85, .pl85 {
    padding-left: 85px;
}

.padL90, .pl90 {
    padding-left: 90px;
}

.padL95, .pl95 {
    padding-left: 95px;
}

.padL100, .pl100 {
    padding-left: 100px;
}

/* Padding RIGHT */

.padR0, .pr0 {
    padding-right: 0px;
}

.padR5, .pr5 {
    padding-right: 5px;
}

.padR10, .pr10 {
    padding-right: 10px;
}

.padR15, .pr15 {
    padding-right: 15px;
}

.padR20, .pr20 {
    padding-right: 20px;
}

.padR25, .pr25 {
    padding-right: 25px;
}

.padR30, .pr30 {
    padding-right: 30px;
}

.padR35, .pr35 {
    padding-right: 35px;
}

.padR40, .pr40 {
    padding-right: 40px;
}

.padR45, .pr45 {
    padding-right: 45px;
}

.padR50, .pr50 {
    padding-right: 50px;
}

.padR55, .pr55 {
    padding-right: 55px;
}

.padR60, .pr60 {
    padding-right: 50px;
}

.padR65, .pr65 {
    padding-right: 65px;
}

.padR70, .pr70 {
    padding-right: 70px;
}

.padR75, .pr75 {
    padding-right: 75px;
}

.padR80, .pr80 {
    padding-right: 80px;
}

.padR85, .pr85 {
    padding-right: 85px;
}

.padR90, .pr90 {
    padding-right: 90px;
}

.padR95, .pr95 {
    padding-right: 95px;
}

.padR100, .pr100 {
    padding-right: 100px;
}

/* Padding TOP-BOTTOM */

.padTB0, .py0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.padTB5, .py5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.padTB10, .py10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padTB15, .py15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padTB20, .py20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padTB25, .py25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.padTB30, .py30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.padTB35, .py35 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.padTB40, .py40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.padTB45, .py45 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.padTB50, .py50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.padTB55, .py55 {
    padding-top: 55px;
    padding-bottom: 55px;
}

.padTB60, .py60 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.padTB65, .py65 {
    padding-top: 65px;
    padding-bottom: 65px;
}

.padTB70, .py70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.padTB75, .py75 {
    padding-top: 75px;
    padding-bottom: 75px;
}

.padTB80, .py80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.padTB85, .py85 {
    padding-top: 85px;
    padding-bottom: 85px;
}

.padTB90, .py90 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.padTB95, .py95 {
    padding-top: 95px;
    padding-bottom: 95px;
}

.padTB100, .py100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Padding LEFT-RIGHT */

.padLR0, .px0 {
    padding-left: 0px;
    padding-right: 0px;
}

.padLR5, .px5 {
    padding-left: 5px;
    padding-right: 5px;
}

.padLR10, .px10 {
    padding-left: 10px;
    padding-right: 10px;
}

.padLR15, .px15 {
    padding-left: 15px;
    padding-right: 15px;
}

.padLR20, .px20 {
    padding-left: 20px;
    padding-right: 20px;
}

.padLR25, .px25 {
    padding-left: 25px;
    padding-right: 25px;
}

.padLR30, .px30 {
    padding-left: 30px;
    padding-right: 30px;
}

.padLR35, .px35 {
    padding-left: 35px;
    padding-right: 35px;
}

.padLR40, .px40 {
    padding-left: 40px;
    padding-right: 40px;
}

.padLR45, .px45 {
    padding-left: 45px;
    padding-right: 45px;
}

.padLR50, .px50 {
    padding-left: 50px;
    padding-right: 50px;
}

.padLR55, .px55 {
    padding-left: 55px;
    padding-right: 55px;
}

.padLR60, .px60 {
    padding-left: 50px;
    padding-right: 50px;
}

.padLR65, .px65 {
    padding-left: 65px;
    padding-right: 65px;
}

.padLR70, .px70 {
    padding-left: 70px;
    padding-right: 70px;
}

.padLR75, .px75 {
    padding-left: 75px;
    padding-right: 75px;
}

.padLR80, .px80 {
    padding-left: 80px;
    padding-right: 80px;
}

.padLR85, .px85 {
    padding-left: 85px;
    padding-right: 85px;
}

.padLR90, .px90 {
    padding-left: 90px;
    padding-right: 90px;
}

.padLR95, .px95 {
    padding-left: 95px;
    padding-right: 95px;
}

.padLR100, .px100 {
    padding-left: 100px;
    padding-right: 100px;
}